@model CalzadoERP.Model.Orden

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Orden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacionOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacionOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCierreOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCierreOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrden">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
