@model CalzadoERP.Model.Zapatero

@{
    ViewData["Title"] = "Delete";
}
<h3>Estas seguro de eliminarlo?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificacionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsociacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsociacionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTerminacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTerminacionZapatero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdZapatero" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="px-3" asp-action="Index">Cancelar</a>
    </form>
</div>
