@model CalzadoERP.Model.Zapatero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zapatero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificacionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsociacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsociacionZapatero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTerminacionZapatero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTerminacionZapatero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZapatero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
