@model IEnumerable<CalzadoERP.Model.Zapatero>

@{
    ViewData["Title"] = "Index";
}
<body >
    <h1 class="text-light">Administrar Zapateros</h1>
    <br />
    <p>
        <a asp-action="Create">Crear nuevo zapatero</a>
    </p>
    <br />
    <section>
        <nav class="navbar bg-dark">
            <div class="container">
                <h1 class="text-light">Buscar Zapatero : </h1>
                <form class="d-flex" role="search" asp-action="GetZapateroByNombre">
                    <input id="nombre" name="nombre" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Buscar por nombre">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </section>
    <br />
    <table class="table text-light ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreZapatero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DireccionZapatero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentificacionZapatero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoZapatero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAsociacionZapatero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaTerminacionZapatero)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<dynamic>)(ViewData["zapateros"])!)
            {
                <tr>
                    <td>
                        @Html.Label("NombreZapatero", (string)@item.NombreZapatero)
                    </td>
                    <td>
                        @Html.Label("DireccionZapatero", (string)@item.DireccionZapatero)
                    </td>
                    <td>
                        @Html.Label("IdentificacionZapatero", (string)@item.IdentificacionZapatero)
                    </td>
                    <td>
                        @Html.Label("EstadoZapatero", ((bool)@item.EstadoZapatero).ToString())
                    </td>
                    <td>
                        @Html.Label("FechaAsociacionZapatero", ((DateTime) @item.FechaAsociacionZapatero).ToString())
                    </td>
                    <td>
                       @* @Html.Label("FechaTerminacionZapatero", ((DateTime) @item.FechaTerminacionZapatero).ToString())*@
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdZapatero">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdZapatero">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdZapatero">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
