@model IEnumerable<CalzadoERP.Model.Proveedor>

@{
    ViewData["Title"] = "Proveedores";
}
<body>
    <h1 class="text-light">Administrar Proveedores</h1>
    <br />
    <p>
        <a asp-action="Create">Crear nuevo proveedor</a>
    </p>
    <br />
    <section>
        <nav class="navbar bg-dark">
            <div class="container">
                <h1 class="text-light">Buscar Proveedor : </h1>
                <form class="d-flex" role="search" asp-action="GetProveedorByNombre">
                    <input id="nombre" name="nombre" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Buscar por nombre">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </section>
    <br />
    <table class="table text-light ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreProveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DireccionProveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonoProveedor1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonoProveedor2)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<dynamic>)(ViewData["proveedores"])!)
            {
                <tr>
                    <td>
                        @Html.Label("NombreEstilo", (string)@item.NombreProveedor)
                    </td>
                    <td>
                        @Html.Label("ColorEstilo", (string)@item.DireccionProveedor)
                    </td>
                    <td>
                        @Html.Label("GeneroEstilo", (string)@item.TelefonoProveedor1)
                    </td>
                    <td>
                        @Html.Label("ComentariosEstilo", (string)@item.TelefonoProveedor2)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdProveedor">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdProveedor">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdProveedor">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
