@model IEnumerable<CalzadoERP.Model.Sku>

@{
    ViewData["Title"] = "Index";
}
<body >
    <h1 class="text-light">Administrar SKU</h1>
    <br />
    <p>
        <a asp-action="Create">Crear nuevo SKU</a>
    </p>
    <br />
    <section>
        <nav class="navbar bg-dark">
            <div class="container">
                <h1 class="text-light">Buscar SKU : </h1>
                <form class="d-flex" role="search" asp-action="GetSkuByNombre">
                    <input id="nombre" name="nombre" class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Buscar por nombre">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </section>
    <br />
    <table class="table text-light ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreSku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ColorSku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioUnitarioSku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadSku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComentariosSku)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<dynamic>)(ViewData["skus"])!)
            {
                <tr>
                    <td>
                        @Html.Label("NombreSku", (string)@item.NombreSku)
                    </td>
                    <td>
                        @Html.Label("ColorSku", (string)@item.ColorSku)
                    </td>
                    <td>
                        @Html.Label("PrecioUnitarioSku", ((Decimal)@item.PrecioUnitarioSku).ToString("C3"))
                    </td>
                    <td>
                        @Html.Label("UnidadSku", (string)@item.UnidadSku)
                    </td>
                    <td>
                        @Html.Label("ComentariosSku", (string)@item.ComentariosSku)
                    </td>
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.IdSku">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdSku">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdSku">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
